<!DOCTYPE html>
<html lang="en" id="a">
<head>
    <meta charset="UTF-8">

    <!-- Links to CSS -->
    <link rel="stylesheet" type="text/css" href="CSS/w3.css">
    <link rel="stylesheet" type="text/css" href="CSS/mark.css">
    <link rel="stylesheet" type="text/css" href="CSS/abstract.css">
    <link rel="stylesheet" type="text/css" href="CSS/moveBackround.css">
    
    <title>Notebox</title>
</head>
<body id="a">


<!-- Title -->
<div id="c">
    <h1 align="center">Notebox</h1>
</div>

<!-- Navigation Bar -->
<div id="b">
  <div>
    <a href="index.html" class="w3-bar-item w3-button w3-padding-large" id="b">Home</a>
    <a href="about.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small" id="b">About</a>
    <a href="contact.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small" id="b">Contact</a>
    <a href="login.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small" id="b">Retrive</a>
  </div>
</div>

<!-- Main Page Content -->
<div id="a">
    
</div>
</body>
</html>